article{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#map-canvas {
  height: 200px;
  width: 400px;
}

#locationField, #controls {
  position: relative;
  width: 480px;
}
#address {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
}
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
}
#addr {
  border: 1px solid #000090;
  background-color: #f0f0ff;
  width: 480px;
  padding-right: 2px;
}
#addr td {
  font-size: 10pt;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  height: 20px;
  margin-bottom: 1%;
}

.eventID{
  display:none;  
}
