article{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    --background: grey;
}

#myTab li a{
    background-color: #F8F8F8;
}

.active a{
    font-weight:bold;
    background-color: #F0F0F0;
}

#aboutprof{
    list-style: none;
}
